<div class="table-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th>
                {{ sort_by(rows, 'Utilisateur', 'row.id') }}
            </th>
            <th>
                {{ sort_by(rows, 'Ancienneté', 'row.createdAt') }}
            </th>
            <th>
                {{ sort_by(rows, 'Dernière connexion', 'row.lastLogin') }}
            </th>
            <th>
                {{ sort_by(rows, 'Rôles', 'row.roles') }}
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% if rows is empty %}
            <tr>
                <td colspan="7" class="text-center">
                    Aucune donnée disponible
                </td>
            </tr>
        {% endif %}
        {% for row in rows %}
            {% set link = path(prefix ~ '_edit', {id: row.id}) %}
            <tr>
                <td>
                    <a href="{{ link }}" class="table-cell-link"></a>
                    <div class="flex items-center gap-2">
                        <div class="relative">
                            <img class="h-10 min-w-10 rounded-full object-cover {{ row.isVerified ? 'border-2 border-green-500' : 'border-2 border-red-500' }}"
                                 src="{{ row|avatar }}"
                                 alt="{{ row.fullname }}">
                            {% if row.isPremium %}
                                <div class="absolute -bottom-1 -right-1 bg-primary-100 dark:bg-primary-900 rounded-full p-1 text-primary-800 dark:text-primary-200">
                                    {{ icon('sparkles', 17) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="flex flex-col">
                            <div class="font-medium font-bricolage text-slate-950 dark:text-slate-100">{{ row.fullname }}</div>
                            <div class="text-muted text-sm">{{ row.email }}</div>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="{{ link }}" class="table-cell-link"></a>
                    {{ row.createdAt|date_age }}
                </td>
                <td>
                    <a href="{{ link }}" class="table-cell-link"></a>
                    {{ row.lastLogin ? row.lastLogin|date_age : 'Jamais' }}
                </td>
                <td>
                    {% for role in row.roles %}
                        <div class="badge badge-info">{{ role }}</div>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ link }}" class="btn-icon">
                        {{ icon('arrow-right') }}
                    </a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
