{% extends 'layouts/admin/base.html.twig' %}

{% block body %}

    <div class="dashboard-page-header">
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <ol>
                <li>
                    <a href="{{ path('admin_home') }}">
                        <svg class="h-3 w-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
                        </svg>
                        Accueil
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li>
                    <a href="{{ path('admin_users_index') }}">
                        Utilisateurs
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li aria-current="page">
                    {{ entity.fullname }}
                </li>
            </ol>
        </nav>
    </div>

    <div class="mt-6">

        <!-- User profile -->
        <div class="card card-padding flex items-center gap-x-4 mb-4">
            <div class="flex flex-col sm:flex-row sm:items-center gap-4">
                <img src="{{ entity|avatar }}" alt="" class="w-20 h-20 rounded-full object-cover border-2
                 {{ entity.isVerified ? 'border-green-500' : 'border-red-500' }}">

                <div class="flex-1 space-y-1">
                    <h1 class="text-2xl font-semibold text-slate-900 dark:text-white">{{ entity.fullname }}</h1>
                    <p class="text-sm text-slate-500">Inscrit {{ entity.createdAt|ago }}</p>

                    {% if entity.isPremium and entity.premiumEnd > 'now'|date %}
                        <span class="inline-flex items-center gap-1 px-2 py-1 rounded bg-yellow-100 text-yellow-800 text-xs">
                        {{ icon('crown') }} Premium jusqu’au {{ entity.premiumEnd|date('d/m/Y') }}
                    </span>
                    {% else %}
                        <span class="inline-flex items-center gap-1 px-2 py-1 rounded bg-slate-100 text-slate-600 text-xs">
                        Compte standard
                    </span>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Informations -->
        <div class="mt-7 grid gap-4 md:gap-6 md:grid-cols-3">
            {% if entity.email %}
                <div class="admin-user-card">
                    <div class="admin-user-card__icon">{{ icon('mail') }}</div>
                    <div>
                        <h3 class="admin-user-card__label">Email</h3>
                        <a href="mailto:{{ entity.email }}" class="admin-user-card__value">
                            {{ entity.email }}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if entity.phone %}
                <div class="admin-user-card">
                    <div class="admin-user-card__icon">{{ icon('phone') }}</div>
                    <div>
                        <h3 class="admin-user-card__label">Téléphone</h3>
                        <a href="tel:{{ entity.phone }}" class="admin-user-card__value">
                            {{ entity.phone }}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if entity.dateOfBirthday %}
                <div class="admin-user-card">
                    <div class="admin-user-card__icon">{{ icon('calendar') }}</div>
                    <div>
                        <h3 class="admin-user-card__label">Date de naissance</h3>
                        <p class="admin-user-card__value">
                            {{ entity.dateOfBirthday|date('d/m/Y') }}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- if user is not verified -->
        {% if not entity.isVerified %}
            <div class="alert-danger mt-10">
                <h4 class="h4">Email non vérifié</h4>
                <p class="text-muted">Utilisateur non encore confirmé.</p>
                <div class="mt-4">
                    <a href="{{ path('admin_users_resend_verification_email', {id: entity.id}) }}" class="btn btn-primary">
                        {{ icon('mail') }} Renvoyer l'email de vérification
                    </a>
                </div>
            </div>
        {% endif %}

        <!-- premium offer -->
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="mt-10 bg-white dark:bg-primary-950 border border-slate-200 dark:border-slate-800 rounded-xl p-5 shadow-sm">
            <h4 class="h4">Offre premium</h4>
            <p class="text-sm text-muted">Vous pouvez prolonger l'offre premium d'un utilisateur</p>
            <div class="mt-4">
                <button data-modal-id="addPremium" title="Ajouter des jours premiums" class="btn btn-light">
                    {{ icon('crown') }}
                    Ajouter des jours premiums
                </button>
                <modal-dialog id="addPremium" hidden="hidden" overlay-close>
                    <section class="modal-box max-w-lg w-full p-6 bg-white dark:bg-primary-950 rounded shadow-lg">
                        <div class="flex items-center justify-between mb-2">
                            <h2 class="text-xl font-semibold text-slate-800 dark:text-slate-100">
                                Offrez un cadeau premium
                            </h2>
                            <button data-dismiss aria-label="Close" class="modal-close text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-200">
                                {{ icon('x') }}
                            </button>
                        </div>

                        <hr class="my-4 border-slate-200 dark:border-slate-700"/>

                        <form class="mt-5" action="{{ path('admin_premium_days_add') }}" method="post">
                            <div>
                                <label for="days" class="label">Combien de jours ?</label>
                                <input type="number" min="0" name="days" id="days" required class="form-input" />
                            </div>

                            <div class="mt-4">
                                <label for="comment" class="label">Commentaire (optionnel)</label>
                                <textarea name="comment" id="comment" rows="3" class="form-input"></textarea>
                            </div>

                            <input type="hidden" value="{{ entity.id }}" name="user_id">

                            <div class="flex justify-end gap-x-2 mt-6">
                                <button type="button" class="btn btn-light" data-dismiss>Annuler</button>

                                <button type="submit" class="btn btn-primary">Continuer</button>
                            </div>
                        </form>
                    </section>
                </modal-dialog>
            </div>
        </div>
        {% endif %}

        <!-- User roles -->
        <div class="mt-10 bg-white dark:bg-primary-950 border border-slate-200 dark:border-slate-800 rounded-xl p-5 shadow-sm">
            {{ form_start(form) }}
            <div class="mb-4">
                <h4 class="h4">Accès et rôles</h4>
                <p class="text-sm text-slate-500">Modifier les rôles de cet utilisateur</p>
                <div class="grid grid-cols-1 gap-4 md:grid-cols-2 mt-4">
                    {{ form_row(form.roles) }}
                </div>
            </div>
            <!-- modifier role -->
            <div class="flex justify-start">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>

        <!-- warning zone for impersonate -->
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="mt-10 bg-white dark:bg-primary-950 border border-slate-200 dark:border-slate-800 rounded-xl p-5 shadow-sm">
            <h4 class="font-bricolage text-xl font-medium text-red-700 dark:text-red-300">Prendre le contrôle de cet utilisateur</h4>
            <p class="text-muted max-w-xl">
                Attention, vous allez prendre le contrôle de cet utilisateur. Il est obligatoire d'avoir l'autorisation de l'utilisateur concerné.
            </p>
            <div class="mt-4">
                <a href="{{ path('app_home', { '_switch_user': entity.email }) }}" class="btn btn-light-danger">
                    {{ icon('joystick') }}
                    Prendre le contrôle
                </a>
            </div>
        </div>
        {% endif %}
</div>
{% endblock %}
