{% extends 'layouts/studio/base.html.twig' %}

{% block title %}
    Gestion des Quiz
{% endblock %}

{% block body %}

    <div class="dashboard-page-header">
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <ol>
                <li>
                    <a href="{{ path('studio_home') }}">
                        {{ icon('home') }} Accueil
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li>
                    <span>Quiz</span>
                </li>
            </ol>
        </nav>
    </div>

    {% if app.user.isPremium %}

        <div class="table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ sort_by(rows, 'Titre', 'row.title') }}</th>
                    <th>{{ sort_by(rows, 'Statut', 'row.isPublished') }}</th>
                    <th>{{ sort_by(rows, 'Contenu associé', 'row.targetContent') }}</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    {% set link = path(prefix ~ '_edit', {id: row.id}) %}
                    <tr>
                        <td>
                            <a href="{{ link }}" class="table-cell-link"></a>
                            {{ row.title | truncate(50) }}
                        </td>
                        <td>
                            <div class="flex items-center gap-2">
                                {% if row.isPublished %}
                                    <div class="badge badge-success">
                                        {{ icon('eye') }} <span>En ligne</span>
                                    </div>
                                {% else %}
                                    <div class="badge badge-warning">
                                        {{ icon('lock') }} <span>Privée</span>
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ row.targetContent.title | truncate(50) }}</td>
                        <td class="text-end">
                            <a href="{{ link }}" class="btn-icon">{{ icon('pencil') }}</a>
                            <a href="{{ path(prefix ~ '_stats', {id: row.id}) }}" class="btn-icon">{{ icon('bar-chart') }}</a>
                            <ajax-delete class="btn-icon" target="tr" url="{{ path(prefix ~ '_delete', {id: row.id}) }}">
                                {{ icon('trash') }}
                            </ajax-delete>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ paginate(rows) }}

    {% else %}
        <div class="flex flex-col justify-center items-center my-12">
            <div class="bg-white dark:bg-primary-1000 border border-slate-100 dark:border-slate-900 shadow-lg rounded-xl p-8 max-w-md flex flex-col justify-center items-center text-center">
                <div class="bg-primary-100 dark:bg-primary-500 text-primary-800 dark:text-slate-100 p-4 rounded-full mb-4">
                    {{ icon('crown', 25) }}
                </div>
                <h2 class="text-xl font-semibold text-gray-700 dark:text-gray-200 mb-3">
                    Débloquez la gestion complète des Quiz
                </h2>
                <p class="text-gray-600 dark:text-gray-400 mb-6">
                    Créez, personnalisez et gérez facilement vos propres quiz. Rejoignez les membres premium pour profiter pleinement de cette fonctionnalité !
                </p>
                <a href="{{ path('app_premium') }}" class="btn btn-primary">
                    Je deviens Premium
                </a>
            </div>
        </div>

    {% endif %}
{% endblock %}
