{% extends 'layouts/dashboard/sidebar/_sidebar.html.twig' %}

{% block sidebar_header %}
    <div class="sidebar__header">
        <a href="{{ path('admin_home') }}" class="sidebar__logo">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="sidebar__logo-image">
            <span class="h3">Admin</span>
        </a>
    </div>
{% endblock %}

{% block sidebar_nav %}
    <div class="sidebar__nav-section">
        <div class="header__search">
            <div class="header__search-container">
                <button id="spotlight--trigger" class="header__search-button">
                    <span>Rechercher</span>
                    <span class="hidden sm:inline">⌘k</span>
                </button>
                <div class="header__search-icon">
                    {{ icon('search', 18) }}
                </div>
            </div>
        </div>

        <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_home') }}" class="sidebar__nav-link {{ menu_active('admin_home') }}">
                    {{ icon('monitor') }}
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="sidebar__nav-title">Administration</div>
            <ul class="sidebar__nav-list">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="sidebar__nav-item">
                    <a href="{{ path('admin_users_index') }}" class="sidebar__nav-link {{ menu_active('admin_user') }}">
                        {{ icon('users') }}
                        <span>Utilisateurs</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('admin_youtube_config_index') }}" class="sidebar__nav-link {{ menu_active('admin_youtube_config') }}">
                        {{ icon('youtube') }}
                        <span>Chaîne YouTube</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('admin_collaboration_request_index') }}" class="sidebar__nav-link {{ menu_active('admin_collaboration_request') }}">
                        {{ icon('heart-handshake') }}
                        <span>Collaborations</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('admin_newsletter_index') }}" class="sidebar__nav-link {{ menu_active('admin_newsletter') }}">
                        {{ icon('mail') }}
                        <span>Newsletter</span>
                    </a>
                </li>
                {% endif %}
                <li class="sidebar__nav-item">
                    <a href="{{ path('admin_contact_index') }}" class="sidebar__nav-link {{ menu_active('admin_contact_') }}">
                        {{ icon('inbox' ) }}
                        Messages
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="" class="sidebar__nav-link {{ menu_active('admin_feedback') }}">
                        {{ icon('message-circle') }}
                        <span>Retours</span>
                    </a>
                </li>
            </ul>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="sidebar__nav-title">Finances</div>
        <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_transaction_index') }}" class="sidebar__nav-link {{ menu_active('admin_transaction_') }}">
                    {{ icon('landmark') }}
                    <span>Transactions</span>
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_plan_index') }}" class="sidebar__nav-link {{ menu_active('admin_plan_') }}">
                    {{ icon('sparkles') }}
                    <span>Plans</span>
                </a>
            </li>
        </ul>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <div class="sidebar__nav-title">Divers</div>
        <ul class="sidebar__nav-list">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="sidebar__nav-item">
                <!-- <a href="{{ path('admin_badge_index') }}" class="sidebar__nav-link {{ menu_active('admin_badge') }} sidebar__nav-feature"> -->
                <a href="{{ path('admin_badge_index') }}" class="sidebar__nav-link {{ menu_active('admin_badge') }}">
                    {{ icon('award') }}
                    <span>Badges</span>
                    <!--
                    <span class="sidebar__nav-feature__icon">
                        {{ icon('award' ) }}
                    </span>
                    -->
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_option_index') }}" class="sidebar__nav-link {{ menu_active('admin_option_') }}">
                    {{ icon('list') }}
                    <span>Options</span>
                </a>
            </li>
            {% endif %}
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_comment_index') }}" class="sidebar__nav-link {{ menu_active('admin_comment_') }}">
                    {{ icon('message-square-warning') }}
                    <span>Spams</span>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar_footer %}
    <div class="sidebar__nav-item">
        <a href="{{ path('app_home') }}" class="sidebar__nav-link">
            {{ icon('undo-2') }}
            <span>Quitter l'admin</span>
        </a>
    </div>
{% endblock %}


