{% extends 'layouts/dashboard/header/_header.html.twig' %}

{% block header_nav %}
    <div class="relative">
        <button id="header-dropdown-button" class="header-dropdown flex items-center pr-0 lg:pr-4 gap-2 border border-slate-200 dark:border-slate-700 rounded-full text-md" aria-controls="dropdown-user" aria-expanded="false">
            <img class="h-10 w-10 rounded-full object-cover border border-slate-200 dark:border-slate-700" src="{{ app.user|avatar }}" alt="{{ app.user.fullname }} avatar">
            <span class="hidden lg:inline-flex">{{ app.user.fullname | truncate(15) }}</span>
        </button>
        <div id="header-dropdown-menu" class="absolute z-[4000] right-0 top-[35px] min-w-80 bg-white dark:bg-primary-950 dark:text-white
                 border border-slate-200 dark:border-slate-800 shadow-lg rounded-xl
                 flex flex-col justify-center items-start
                 scale-95 transform transition-all duration-100 ease-out
                 pointer-events-none p-4 mt-3 opacity-0 visible -translate-y-4
                ">
            <div class="flex items-center justify-start gap-2 w-full pb-4 border-b border-slate-200 dark:border-slate-700">
                <img class="h-12 w-12 rounded-full object-cover border border-slate-200 dark:border-slate-700" src="{{ app.user|avatar }}" alt="{{ app.user.fullname }} avatar">
                <div class="ml-2 h4">
                    <div class="h3">{{ app.user.fullname }}</div>
                    {% if app.user.isPremium %}
                        <div class="badge-premium mt-1">
                            {{ icon('sparkles') }}
                            <span>Compte Premium</span>
                        </div>
                    {% else %}
                        <a href="{{ path('app_premium') }}" class="badge-standard mt-1">Compte Standard</a>
                    {% endif %}
                </div>
            </div>

            <div class="w-full mb-3 border-b border-slate-200 dark:border-slate-700 py-4 grid grid-cols-2 gap-2">
                <a href="{{ path('app_home') }}" class="flex flex-col items-center {% if not is_granted('ROLE_AUTHOR') %}col-span-2{% endif%} bg-slate-100 dark:bg-primary-1000 transition-colors duration-200 p-4 rounded-xl text-slate-900 dark:text-white font-medium hover:text-slate-900 hover:bg-slate-200">
                    {{ icon('home', 20) }}
                    <span>Accueil</span>
                </a>
                {% if is_granted('ROLE_AUTHOR') %}
                    <a href="{{ path('studio_home') }}" class="flex flex-col items-center bg-primary-100 dark:bg-primary-1000 transition-colors duration-200 p-4 rounded-xl text-primary-900 dark:text-white font-medium hover:text-primary-900 hover:bg-primary-200">
                        {{ icon('clapperboard', 20) }}
                        <span>Studio</span>
                    </a>
                {% endif %}
            </div>
            {% include 'layouts/public/blocs/_header_common.html.twig' %}
        </div>
    </div>
{% endblock %}