{% extends 'layouts/dashboard/sidebar/_sidebar.html.twig' %}

{% block sidebar_header %}{% endblock %}

{% block sidebar_nav %}
    <div class="sidebar__nav-section">
        <div class="header__search">
            <div class="header__search-container">
                <button id="spotlight--trigger" class="header__search-button">
                    <span>Rechercher</span>
                    <span class="hidden sm:inline">⌘k</span>
                </button>
                <div class="header__search-icon">
                    {{ icon('search', 18) }}
                </div>
            </div>
        </div>

        <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_home') }}" class="sidebar__nav-link {{ menu_active('admin_home') }}">
                    {{ icon('monitor') }}
                    <span>Dashboard</span>
                </a>
            </li>
        </ul>

        {% if is_granted('ROLE_ADMIN') %}
        <div class="sidebar__nav-title">Education</div>
        <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_course_index') }}" class="sidebar__nav-link {{ menu_active('admin_course_') }}">
                    {{ icon('video') }}
                    <span>Vidéos</span>
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_formation_index') }}" class="sidebar__nav-link {{ menu_active('admin_formation_') }}">
                    {{ icon('gallery-vertical-end' ) }}
                    <span>Playlists</span>
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_technology_index') }}" class="sidebar__nav-link {{ menu_active('admin_technology_') }}">
                    {{ icon('tags') }}
                    <span>Tags</span>
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_quiz_index') }}" class="sidebar__nav-link {{ menu_active('admin_quiz_') }}">
                    {{ icon('message-circle-question' ) }}
                    <span>Quiz</span>
                </a>
            </li>
        </ul>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="sidebar__nav-title">Administration</div>
            <ul class="sidebar__nav-list">
                <li class="sidebar__nav-item">
                    <a href="{{ path('admin_users_index') }}" class="sidebar__nav-link {{ menu_active('admin_user') }}">
                        {{ icon('users') }}
                        <span>Utilisateurs</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('admin_youtube_config_index') }}" class="sidebar__nav-link {{ menu_active('admin_youtube_config') }}">
                        {{ icon('youtube') }}
                        <span>Chaîne YouTube</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('admin_contact_index') }}" class="sidebar__nav-link {{ menu_active('admin_contact_') }}">
                        {{ icon('inbox' ) }}
                        Messages
                    </a>
                </li>
            </ul>
        {% endif %}

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="sidebar__nav-title">Divers</div>
        <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item">
                <!-- <a href="{{ path('admin_badge_index') }}" class="sidebar__nav-link {{ menu_active('admin_badge') }} sidebar__nav-feature"> -->
                <a href="{{ path('admin_badge_index') }}" class="sidebar__nav-link {{ menu_active('admin_badge') }}">
                    {{ icon('award') }}
                    <span>Badges</span>
                    <!--
                    <span class="sidebar__nav-feature__icon">
                        {{ icon('award' ) }}
                    </span>
                    -->
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_option_index') }}" class="sidebar__nav-link {{ menu_active('admin_option_') }}">
                    {{ icon('list') }}
                    <span>Options</span>
                </a>
            </li>
            <li class="sidebar__nav-item">
                <a href="{{ path('admin_comment_index') }}" class="sidebar__nav-link {{ menu_active('admin_comment_') }}">
                    {{ icon('message-square-warning') }}
                    <span>Spams</span>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar_footer %}
    <div class="sidebar__nav-item">
        <a href="{{ path('app_home') }}" class="sidebar__nav-link">
            {{ icon('undo-2') }}
            <span>Retour au site</span>
        </a>
    </div>
{% endblock %}


