{% set display_name = app.user.fullname ?: app.user.email %}

<div class="ds-studio-user" data-studio-user-menu>
    <div class="ds-studio-user__identity">
        <span class="ds-studio-user__avatar" aria-hidden="true">
            {{ display_name|slice(0, 1)|upper }}
        </span>
        <div class="min-w-0">
            <p class="ds-studio-user__name truncate" title="{{ display_name }}">{{ display_name }}</p>
            {% if app.user.fullname %}
                <p class="ds-studio-user__email truncate" title="{{ app.user.email }}">{{ app.user.email }}</p>
            {% endif %}
        </div>
    </div>

    <div class="ds-studio-user__links">
        <a href="{{ path('app_account') }}" class="ds-studio-user__link" data-studio-account-link>
            {% include 'components/icon.html.twig' with { name: 'user', size: 16 } %}
            Mon compte
        </a>
        <a href="{{ path('app_home') }}" class="ds-studio-user__link">
            {% include 'components/icon.html.twig' with { name: 'external-link', size: 16 } %}
            Site public
        </a>
        <a href="{{ path('app_logout') }}" class="ds-studio-user__link" data-studio-logout-link>
            {% include 'components/icon.html.twig' with { name: 'log-out', size: 16 } %}
            Déconnexion
        </a>
    </div>

    <div class="ds-studio-user__theme">
        {% include 'components/theme_toggle.html.twig' %}
    </div>
</div>
