<aside class="sidebar -translate-x-full lg:translate-x-0" id="sidebar">
    <div class="text-left text-2xl font-bold text-slate-900 flex items-center gap-2 mb-4">
        {{ icon('brain-circuit', 29) }}
        Lazare Fortune
    </div>
    <nav class="sidebar--nav">
        <div>
            <div class="sidebar--nav-title">
                Menu Principal
            </div>
            <ul class="flex flex-col gap-1">
                <li>
                    <a href="{{ path('admin_home') }}"
                       class="sidebar--nav-item {{ menu_active('admin_home') }}">
                        {{ icon('home') }}
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_realisation_index') }}"
                       class="sidebar--nav-item {{ menu_active('admin_realisation') }}">
                        {{ icon('book-marked' ) }}
                        Portfolio
                    </a>
                </li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_users_index') }}"
                           class="sidebar--nav-item {{ menu_active('admin_user') }}">
                            {{ icon('users') }}
                            Utilisateurs
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('admin_appointment_index') }}"
                       class="sidebar--nav-item {{ menu_active('admin_appointment_') }}">
                        {{ icon('calendar' ) }}
                        Agenda
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_contact_index') }}"
                       class="sidebar--nav-item {{ menu_active('admin_contact_') }}">
                        {{ icon('mails' ) }}
                        Contact Reçus
                    </a>
                </li>
                <li>
                    <a href="{{ path('app_home') }}" class="sidebar--nav-item">
                        {{ icon('app-window' ) }}
                        <span class="ml-1">Site public</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="sidebar--nav-title">
                Education
            </div>
            <ul class="flex flex-col gap-1">
                <li>
                    <a href="{{ path('admin_course_index') }}" class="sidebar--nav-item {{ menu_active('admin_course_') }}">
                        {{ icon('youtube') }}
                        Tutoriels
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_formation_index') }}" class="sidebar--nav-item {{ menu_active('admin_formation_') }}">
                        {{ icon('library-big' ) }}
                        Formations
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_technology_index') }}" class="sidebar--nav-item {{ menu_active('admin_technology_') }}">
                        {{ icon('tag' ) }}
                        Technologies
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="sidebar--nav-title">
                Gestion & Services
            </div>
            <ul class="flex flex-col gap-1">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li>
                        <a href="{{ path('admin_transaction_index') }}"
                           class="sidebar--nav-item {{ menu_active('admin_transaction') }}">
                            {{ icon('wallet') }}
                            Finances
                        </a>
                    </li>
                {% endif %}

                <button class="sidebar--dropdown-button {{ menu_active('admin_prestation') }}
                        {{ menu_active('admin_category_prestation') }}">
                    {{ icon('store' ) }}
                    Offres
                    <span class="sidebar--dropdown-button-icon">
                            {{ icon('chevron-down') }}
                        </span>
                </button>
                <div class="sidebar--dropdown-menu hidden">
                    <a href="{{ path('admin_prestation_index') }}"
                       class="sidebar--dropdown-menu--item {{ menu_active('admin_prestation') }}">
                        Prestations
                    </a>
                    <a href="{{ path('admin_category_prestation_index') }}"
                       class="sidebar--dropdown-menu--item {{ menu_active('admin_category_prestation') }}">
                        Catégories
                    </a>
                </div>

                <button class="sidebar--dropdown-button
                        {{ menu_active('admin_shop_settings') }}
                        {{ menu_active('admin_open_days') }}
                        {{ menu_active('admin_holidays') }}">
                    {{ icon('settings') }}
                    Disponibilités
                    <span class="sidebar--dropdown-button-icon">
                            {{ icon('chevron-down') }}
                        </span>
                </button>
                <div class="sidebar--dropdown-menu hidden">
                    <a href="{{ path('admin_open_days_index') }}"
                       class="sidebar--dropdown-menu--item {{ menu_active('admin_open_days_') }}">
                        Jours d'ouverture
                    </a>
                    <a href="{{ path('admin_holidays_index') }}"
                       class="sidebar--dropdown-menu--item {{ menu_active('admin_holidays_') }}">
                        Congés
                    </a>
                </div>
            </ul>
        </div>
    </nav>
    <div class="sidebar--footer">
        <div class="flex items-center justify-between px-4 py-2">
            Changer de thème
            <theme-switcher></theme-switcher>
        </div>
    </div>
{#    <div class="dropdown px-4">#}
{#        <button class="dropdown-button flex items-center gap-2">#}
{#            <img src="{{ app.user|avatar }}" alt="{{ app.user.fullname }}" class="w-7 h-7 rounded-md">#}
{#            <span>{{ app.user.fullname }}</span>#}
{#            <div class="dropdown-button-icon">#}
{#                {{ icon('chevron-down') }}#}
{#            </div>#}
{#        </button>#}
{#        <div class="dropdown-menu w-64">#}
{#            <a href="{{ path('app_profile') }}" class="dropdown-item">#}
{#                {{ icon('user') }}#}
{#                Mon profil#}
{#            </a>#}
{#            <a href="{{ path('app_profile') }}" class="dropdown-item">#}
{#                {{ icon('settings') }}#}
{#                Paramètres#}
{#            </a>#}
{#            <a href="{{ path('app_profile') }}" class="dropdown-item">#}
{#                {{ icon('info') }}#}
{#                Aide#}
{#            </a>#}
{#            <a href="{{ path('app_profile') }}" class="dropdown-item">#}
{#                {{ icon('log-out') }}#}
{#                Déconnexion#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
</aside>

<div class="fixed inset-0 z-[35] hidden bg-slate-500/50 backdrop-blur-[2px]" id="sidebar-backdrop"></div>

<spotlight-bar target=".sidebar--nav a" trigger-id="spotlight--trigger"></spotlight-bar>