{% extends 'layouts/dashboard/sidebar/_sidebar.html.twig' %}

{% block sidebar_header %}
    <div class="sidebar__header">
        <a href="{{ path('studio_home') }}" class="sidebar__logo">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" class="sidebar__logo-image">
            <span class="h3">Studio</span>
        </a>
    </div>
{% endblock %}

{% block sidebar_nav %}
    <div class="sidebar__nav-section">
        <div class="header__search">
            <div class="header__search-container">
                <button id="spotlight--trigger" class="header__search-button">
                    <span>Rechercher</span>
                    <span class="hidden sm:inline">⌘k</span>
                </button>
                <div class="header__search-icon">
                    {{ icon('search', 18) }}
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_AUTHOR') %}
            <ul class="sidebar__nav-list">
                <li class="sidebar__nav-item">
                    <a href="{{ path('studio_home') }}" class="sidebar__nav-link {{ menu_active('studio_home') }}">
                        {{ icon('home') }}
                        <span>Accueil</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('studio_course_index') }}" class="sidebar__nav-link {{ menu_active('studio_course_') }}">
                        {{ icon('video') }}
                        <span>Vidéos</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('studio_formation_index') }}" class="sidebar__nav-link {{ menu_active('studio_formation_') }}">
                        {{ icon('gallery-vertical-end' ) }}
                        <span>Playlists</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('studio_technology_index') }}" class="sidebar__nav-link {{ menu_active('studio_technology_') }}">
                        {{ icon('tags') }}
                        <span>Tags</span>
                    </a>
                </li>
                <li class="sidebar__nav-item">
                    <a href="{{ path('studio_quiz_index') }}" class="sidebar__nav-link {{ menu_active('studio_quiz_') }}">
                        {{ icon('message-circle-question' ) }}
                        <span>Quiz</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar_footer %}
    <div class="sidebar__nav-item">
        <a href="{{ path('app_home') }}" class="sidebar__nav-link">
            {{ icon('undo-2') }}
            <span>Quitter le studio</span>
        </a>
    </div>
{% endblock %}


