<div class="block w-full overflow-x-auto border rounded">
    <table class="table w-full border-collapse items-center bg-transparent">
        <thead>
        <tr>
            <th>
                {{ sort_by(rows, 'ID', 'row.id') }}
            </th>
            <th>
                {{ sort_by(rows, 'Nom', 'row.fullname') }}
            </th>
            <th>
                E-mail
            </th>
            <th>
                {{ sort_by(rows, 'Ancienneté', 'row.createdAt') }}
            </th>
            <th>
                {{ sort_by(rows, 'Statut', 'row.isVerified') }}
            </th>
            <th class="text-center">
                Role(s)
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% if rows is empty %}
            <tr>
                <td colspan="7" class="text-center">
                    Aucune donnée disponible
                </td>
            </tr>
        {% endif %}
        {% for row in rows %}
            {% set link = path(prefix ~ '_edit', {id: row.id}) %}
            <tr>
                <td>
                    {{ row.id }}
                </td>
                <td class="capitalize">
                    {{ row.fullname }}
                </td>
                <td>
                    {{ row.email }}
                </td>
                <td>
                    {{ row.createdAt|date_age }}
                </td>
                <td>
                    <span class="badge badge-{% if row.isVerified %}success{% else %}danger{% endif %}">
                        {% if row.isVerified %}Vérifié{% else %}Non vérifié{% endif %}
                    </span>
                </td>
                <td>
                    <div class="flex justify-start gap-2">
                        {% for role in row.roles %}
                            <span class="badge badge-{% if role == 'ROLE_ADMIN' %}primary{% else %}secondary{% endif %}">{{ role|replace({'ROLE_': ''}) }}</span>
                        {% endfor %}
                    </div>
                </td>
                <td>
                    <a href="{{ path('app_admin_users_edit', {id: row.id}) }}"
                       class="btn-icon">
                        {{ icon('pencil') }}
                    </a>
                    <ajax-delete class="btn-icon"
                                 target="tr"
                                 url="{{ path(prefix ~ '_delete', {id: row.id}) }}">
                        {{ icon('trash') }}
                    </ajax-delete>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>