{#<div class="flex flex-col mb-10">#}
{#    <div class="-m-1.5 overflow-x-auto">#}
{#        <div class="p-1.5 min-w-full inline-block align-middle">#}
{#            <div class="overflow-hidden">#}
            <table-wrapper>
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                    <tr>
                        <th scope="col" class="px-6 py-3 whitespace-nowrap text-start text-base font-medium text-gray-500 uppercase">Name</th>
                        <th scope="col" class="px-6 py-3 whitespace-nowrap text-start text-base font-medium text-gray-500 uppercase">Age</th>
                        <th scope="col" class="px-6 py-3 whitespace-nowrap text-start text-base font-medium text-gray-500 uppercase">Address</th>
                        <th scope="col" class="px-6 py-3 whitespace-nowrap text-end text-xs font-medium text-gray-500 uppercase">Action</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-base font-medium text-gray-800">John Brown</td>
                        <td class="px-6 py-4 whitespace-nowrap text-base text-gray-800">45</td>
                        <td class="px-6 py-4 whitespace-nowrap text-base text-gray-800">New York No. 1 Lake Park</td>
                        <td class="px-6 py-4 whitespace-nowrap text-end text-base font-medium">
                            <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </table-wrapper>
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<div class="table-wrapper">#}
<table-wrapper>
    <table class="table">
        <thead>
        <tr>
            <th>
                {{ sort_by(rows, 'ID', 'row.id') }}
            </th>
            <th>
                {{ sort_by(rows, 'Nom', 'row.fullname') }}
            </th>
            <th>
                {{ sort_by(rows, 'Email', 'row.email') }}
            </th>
            <th>
                {{ sort_by(rows, 'Ancienneté', 'row.createdAt') }}
            </th>
            <th>
                {{ sort_by(rows, 'Statut', 'row.isVerified') }}
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% if rows is empty %}
            <tr>
                <td colspan="7" class="text-center">
                    Aucune donnée disponible
                </td>
            </tr>
        {% endif %}
        {% for row in rows %}
            {% set link = path(prefix ~ '_edit', {id: row.id}) %}
            <tr>
                <td>
                    {{ row.id }}
                </td>
                <td class="capitalize">
                    {{ row.fullname }}
                </td>
                <td>
                    {{ row.email }}
                </td>
                <td>
                    {{ row.createdAt|date_age }}
                </td>
                <td>
                    <span class="table-item-row">
                        {% if row.isVerified %}
                            {{ icon('badge-check', 17) }}
                            Vérifié
                        {% else %}
                            {{ icon('hourglass', 17) }}
                            Non vérifié
                        {% endif %}
                    </span>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn-icon dropdown-button">
                            {{ icon('circle-ellipsis') }}
                        </button>
                        <div class="dropdown-menu">
                            <a href="{{ path('admin_users_edit', {id: row.id}) }}" class="dropdown-item">
                                Editer
                            </a>
                            <ajax-delete class="dropdown-item"
                                    target="tr"
                                         url="{{ path(prefix ~ '_delete', {id: row.id}) }}">
                                Supprimer
                            </ajax-delete>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</table-wrapper>
{#</div>#}