{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="dashboard-page-header">
        <h1 class="dashboard-page-title">Dashboard</h1>
    </div>

    <section class="grid gap-6 pb-10 md:grid-cols-2 lg:grid-cols-3">
        <div class="relative flex w-full rounded border-2 border-slate-100 bg-white p-8">
            <div class="flex items-center justify-center">
                <a href="{{ path('app_admin_users_index') }}">
                    <div class="flex items-center justify-center rounded-md p-4 text-xl bg-primary-200/50 text-primary-700">
                        {{ icon('users') }}
                    </div>
                </a>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="my-0 text-2xl">{{ nbUsers }}</p>
                <p class="my-0 text-sm text-gray-400">Utilisateurs</p>
            </div>
        </div>
        <div class="relative flex w-full rounded border-2 border-slate-100 bg-white p-8">
            <div class="flex items-center justify-center">
                <a href="{{ path('app_admin_realisation_index') }}">
                    <div class="flex items-center justify-center rounded-md p-4 text-xl bg-primary-200/50 text-primary-700">
                        {{ icon('scissors') }}
                    </div>
                </a>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="my-0 text-2xl">{{ nbRealisations }}</p>
                <p class="my-0 text-sm text-gray-400">Réalisations</p>
            </div>
        </div>
        <div class="relative flex w-full rounded border-2 border-slate-100 bg-white p-8">
            <div class="flex items-center justify-center">
                <a href="{{ path('app_admin_appointment_index') }}">
                    <div class="flex items-center justify-center rounded-md p-4 text-xl bg-primary-200/50 text-primary-700">
                        {{ icon('calendar') }}
                    </div>
                </a>
            </div>

            <div class="ml-7 flex flex-col align-center">
                <p class="my-0 text-2xl">{{ nbAppointments }}</p>
                <p class="my-0 text-sm text-gray-400">Rendez-vous</p>
            </div>
        </div>
    </section>

    <h2 class="mb-3 text-2xl font-semibold">Statistiques</h2>
    <section class="mb-10 rounded border-2 border-slate-100 px-4 py-3 stack-large lg:px-8 lg:py-6">

        <div class="stack max-w-2xl">
            {{ render_chart(chart) }}
        </div>
    </section>

    <h2 class="mb-3 text-2xl font-semibold">filemanager</h2>
    <section class="mb-10 rounded border-2 border-slate-100 px-4 py-3 stack-large lg:px-8 lg:py-6">

        <div class="stack max-w-2xl">
        </div>
    </section>

    <section class="mb-10 h-64 rounded border-2 border-slate-100 bg-white px-4 py-3 lg:px-8 lg:py-6">
        Section 1
        <a href="" class="link">Découvrez nos réalisations</a> mais j'aimerais découvrir aussi les <a href=""
                                                                                                      class="link"
                                                                                                      target="_blank">avis
            de nos clients</a>

        prestations
    </section>

    <section class="mb-10 h-64 rounded-md border-2 border-slate-100 bg-white px-4 py-3 lg:px-8 lg:py-6">
        Section 2

        <blockquote class="text-center text-2xl font-semibold italic text-slate-900">
            If you
            <span class="before:absolute relative before:-inset-1 before:block inline-block before:-skew-y-3 before:bg-pink-500">
                <span class="relative text-white">choose</span>
            </span>
            our services, you win
        </blockquote>
    </section>

    <section class="mb-10 h-64 rounded-md border-2 border-slate-100 bg-white px-4 py-3 lg:px-8 lg:py-6">
        Section 3
    </section>

    <section class="mb-10 h-64 rounded-md border-2 border-slate-100 bg-white px-4 py-3 lg:px-8 lg:py-6">
        Section 4
    </section>

{% endblock %}
