<div class="chapters__section">
    <div class="chapters__header">
        <h3 class="chapters__header-title">{{ chapter.title }}</h3>
        <div class="chapters__header-count">{{ chapter.modules | length }} vidéo{{ chapter.modules | length > 1 ? 's' : '' }}</div>
    </div>
    <div class="chapters__list">
        {% for course in chapter.modules %}
            <a href="{{ path('app_course_show', {slug: course.slug}) }}#autoplay"
               class="chapters__item" id="chapter{{ course.id }}">
                {% if course.premium and (not app.user or not app.user.premium) %}
                    <div class="chapters__premium">
                        {{ icon('crown') }}
                    </div>
                {% else %}
                    <play-button class="chapters__play" data-date="{{ course.publishedAt.timestamp }}" data-video-id="course-{{ course.id }}" tabindex="-1" data-history="{{ course.id }}"></play-button>
                {% endif %}
                <div class="flex flex-col">
                    <span class="chapters__title">
                      {{ course.title }}
                    </span>
                    <span class="chapters__duration">
                        {{ icon('clock') }}
                        {{ course.duration | duration }}
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>