<div class="chapters__section">
    <div class="chapters__header">
        <h3 class="chapters__header-title">{{ chapter.title }}</h3>
        <div class="chapters__header-count">{{ chapter.modules | length }} vidéo{{ chapter.modules | length > 1 ? 's' : '' }}</div>
    </div>
    <div class="chapters__list">
        {% for c in chapter.modules %}
            {% set isLocked = (c.premium and (not app.user or not app.user.premium)) or c.isScheduled %}
            {% set isCurrentCourse = (currentCourseId == c.id) %}
            <a href="{{ path('app_course_show', {slug: c.slug}) }}{% if not isLocked %}#autoplay{% endif %}"
               class="chapters__item {{ isCurrentCourse ? 'is-current' : '' }}"
               id="chapter{{ c.id }}"
               data-locked="{{ isLocked ? 'true' : 'false' }}">
                <div class="chapters__thumbnail">
                    <img src="{{ image_url(c.image, 1330, 750) }}" alt="{{ c.title }}" class="chapters__img">

                    <div class="chapters__duration">
                        {{ icon('clock') }}
                        {{ c.duration | duration }}
                    </div>

                    {% if isLocked %}
                        <div class="chapters__lock">
                            {{ icon('lock') }}
                        </div>
                    {% else %}
                        <play-button
                                class="chapters__play-button"
                                data-date="{{ c.publishedAt.timestamp }}"
                                data-video-id="course-{{ c.id }}"
                                tabindex="-1"
                                data-history="{{ c.id }}">
                        </play-button>
                    {% endif %}
                </div>
                <div class="chapters__details">
                    <span class="chapters__title">{{ c.title }}</span>
                    <span class="chapters__info">
                            {% if c.isScheduled %}
                                Disponible dans {{ c.publishedAt | countdown }}
                            {% else %}
                                Publié {{ c.publishedAt | ago }}
                            {% endif %}
                        </span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>