<div class="chapters__section">
    <div class="chapters__header">
        <h3 class="chapters__header-title">{{ chapter.title }}</h3>
    </div>
    <div class="chapters__list">
        {% for c in chapter.modules %}
            {% set isLocked = (c.premium and (not app.user or not app.user.premium)) or c.isScheduled or (c.isRestrictedToUser and (not app.user)) %}
            {% set isScheduled = c.isScheduled and (not app.user or not app.user.premium) %}
{#            {% set isLocked = (c.premium and (not app.user or not app.user.premium)) or c.isScheduled %}#}
            {% set isCurrentCourse = (currentCourseId == c.id) %}
            <a href="{{ path('app_course_show', {slug: c.slug}) }}{% if not isLocked %}#autoplay{% endif %}"
               class="chapters__item {{ isCurrentCourse ? 'is-current' : '' }}"
               id="chapter{{ c.id }}"
               data-locked="{{ isLocked ? 'true' : 'false' }}">
                <div class="chapters__icon">
                    {% if c.isRestrictedToUser and (not app.user) %}
                        {{ icon('lock') }}
                    {% elseif isLocked and not isScheduled %}
                        {{ icon('crown') }}
                    {% elseif isScheduled %}
                        {{ icon('clock') }}
                    {% else %}
                        <play-button
                                class="chapters__play-button"
                                data-date="{{ c.publishedAt.timestamp }}"
                                data-video-id="course-{{ c.id }}"
                                tabindex="-1"
                                data-history="{{ c.id }}">
                        </play-button>
                    {% endif %}
                </div>
                <div class="chapters__content">
                    <div class="chapters__title">{{ c.title }}</div>
                    <div class="chapters__meta">
                        <span class="chapters__duration">
{#                            {{ icon('clock') }}#}
                            {{ c.duration | duration }}
                        </span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
