{{ form_start(form, { attr: { class: 'space-y-8' } }) }}

<!-- ========================= -->
<!-- 🎯 SECTION 1 : INFORMATIONS GÉNÉRALES -->
<!-- ========================= -->
<section class="space-y-4">
    <div>
        <h1 class="text-xl font-semibold">Informations générales</h1>

        <p class="text-sm text-muted">
            Renseignez les informations essentielles de votre playlist. Le titre et l'auteur seront visibles publiquement.
        </p>
    </div>

    <div class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {{ form_row(form.title) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.youtubePlaylist) }}
        {{ form_row(form.deprecatedBy, { label: 'Déprécié par' }) }}
        {{ form_row(form.image, {
            row_attr: { class: 'form-attachment col-span-full md:col-span-1' },
            help: 'Elle sera affichée sur la page de présentation.'
        }) }}
    </div>

    <div class="grid2 mt-6">
        <div>
            {{ form_row(form.online, { label: 'En ligne ?' }) }}
        </div>
        <div>
            {{ form_row(form.isRestrictedToUser, { label: 'Restreint ?' }) }}
            <small class="text-sm italic">Toutes les vidéos seront destiné uniquement aux membres</small>
        </div>
    </div>
</section>

<hr class="divider"/>

<!-- ========================= -->
<!-- 🎯 SECTION 2 : CONTENUS -->
<!-- ========================= -->
<section class="space-y-4">
    <h1 class="text-xl font-semibold">Contenus</h1>

    <div>
        {{ form_row(form.short) }}
    </div>

    <div class="grid gap-6 grid-cols-1 md:grid-cols-2">
        {{ form_row(form.mainTechnologies) }}
        {{ form_row(form.secondaryTechnologies) }}
    </div>
</section>

<hr class="divider"/>

<!-- ========================= -->
<!-- 🎯 SECTION 3 : DESCRIPTION -->
<!-- ========================= -->
<section class="space-y-4">
    <div>
        <h1 class="text-xl font-semibold">Description</h1>

        <p class="text-sm text-muted">
            Rédigez une description de votre playlist. Elle sera affichée sur la page de présentation.
        </p>
    </div>

    {{ form_row(form.content, { label: false }) }}
</section>

<hr class="divider"/>

<!-- ========================= -->
<!-- 🎯 SECTION 4 : VIDÉOS -->
<!-- ========================= -->
<section class="space-y-4">
    <div>
        <h1 class="text-xl font-semibold">Vidéos</h1>

        <p class="text-sm text-muted">
            Ajoutez des vidéos à votre playlist et définissez leur ordre d'affichage.
        </p>
    </div>

    {{ form_row(form.chapters) }}
</section>

<hr class="divider"/>

<!-- ========================= -->
<!-- 🎯 SECTION 5 : ACTIONS -->
<!-- ========================= -->
<section class="flex flex-col justify-start gap-3 md:flex-row-reverse">
    <button type="submit" class="btn btn-primary">
        {{ icon('save') }}
        Enregistrer
    </button>
    <button
            type="submit"
            name="synchronize"
            value="1"
            class="btn btn-outline"
    >
        {{ icon('refresh-cw') }} Enregistrer & Synchroniser
    </button>

    {% if entity.id %}
        <a href="{{ path('app_formation_show', { slug: entity.slug }) }}" target="_blank" class="btn btn-light">
            {{ icon('external-link') }}
            Voir en ligne
        </a>
    {% endif %}
</section>

{{ form_end(form) }}
