{% extends 'layouts/studio/base.html.twig' %}

{% block title  %}
    Gestion des vidéos
{% endblock %}

{% block body %}

    <div class="dashboard-page-header">
        <nav class="breadcrumb" aria-label="Breadcrumb">
            <ol>
                <li>
                    <a href="{{ path('studio_home') }}">
                        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"></path>
                        </svg>
                        Accueil
                    </a>
                </li>
                {{ icon('chevron-right') }}
                <li>
                    <span>Playlists</span>
                </li>
            </ol>
        </nav>
    </div>

    {% if is_granted('ROLE_AUTHOR') %}
    <div class="dashboard-page-table-button">
        <a href="{{ path(prefix ~ '_new') }}">
            {{ icon('plus') }}
            Ajouter
        </a>
    </div>
    {% endif %}

    <div class="table-wrapper">
        <table class="table">
            <thead>
            <tr>
                <th>{{ sort_by(rows, 'Playlists', 'row.title') }}</th>
                <th>Status</th>
                <th>Technologies</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                {% set link = path(prefix ~ '_edit', {id: row.id}) %}
                <tr>
                    <td class="flex justify-start items-center gap-4">
                        <div class="w-40 flex items-center gap-2">
                            <a href="{{ link }}" class="table-cell-link"></a>
                            {% if row.image %}
                                <img class="course__image"
                                     src="{{ image_url(row.image, 288, 162) }}"
                                     alt="{{ row.title }}">
                            {% else %}
                                <div class="w-40 h-24 bg-gray-200 dark:bg-slate-700 animate-pulse rounded"></div>
                            {% endif %}
                        </div>
                        <div class="flex flex-col gap-1">
                            <h3 class="text-base font-bricolage font-medium">
                                {{ row.title | truncate(50) }}
                            </h3>
                            <p class="text-sm text-muted">{{ row.content | truncate(50) }}</p>
                        </div>
                    </td>
                    <td>
                        <div class="badge badge-{% if row.online and (row.publishedAt|date('U') <= "now"|date('U')) %}success{% elseif row.online and (row.publishedAt|date('U') > "now"|date('U')) %}info{% else %}warning{% endif %}">
                            {% if row.online and (row.publishedAt|date('U') <= "now"|date('U')) %}
                                {{ icon('eye') }}
                                <span>En ligne</span>
                            {% elseif row.online and (row.publishedAt|date('U') > "now"|date('U')) %}
                                {{ icon('clock') }}
                                <span>Planifiée</span>
                            {% else %}
                                {{ icon('lock') }}
                                <span>Privée</span>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        {{ row.technologies|join(', ') }}
                    </td>
                    <td>
                        {% if is_granted('edit', row) %}
                        <a href="{{ path(prefix ~ '_edit', {id: row.id}) }}" class="btn-icon">
                            {{ icon('pencil') }}
                        </a>
                        {% endif %}
                        {% if is_granted('delete', row) %}
                        <ajax-delete class="btn-icon"
                                     target="tr"
                                     url="{{ path(prefix ~ '_delete', {id: row.id}) }}">
                            {{ icon('trash') }}
                        </ajax-delete>
                        {% endif %}
                        {% if row.online %}
                            <a href="{{ path('app_formation_show', {slug: row.slug}) }}" target="_blank" class="btn-icon">
                                {{ icon('external-link') }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ paginate(rows) }}
{% endblock %}