{% extends 'layouts/public/base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}

    <div class="page-header">
        <div class="container-box">
            <div class="stack">
                <div class="flex flex-col md:flex-row md:justify-start items-center gap-2">
                    <div class="md:mr-4 flex-shrink-0">
                        <form class="profil-header__avatar" enctype="multipart/form-data" method="post" action="{{ path('app_account_avatar') }}"
                              is="auto-submit">
                            <img src="{{ app.user | avatar }}" alt="" class="rounded-full w-24 h-24 object-cover border-2 border-primary-900 dark:border-primary-300 p-0.5">
                            <div class="profil-header__upload">
                                {{ icon('cloud') }}
                            </div>
                            <input type="file" name="avatar"/>
                        </form>
                    </div>
                    <div class="text-center md:text-left">
                        <h2 class="h2">{{ app.user.fullname }}</h2>
                        <p class="text-muted text-sm">
                            <span>Inscrit <span class="lowercase">{{ app.user.createdAt|ago }}</span></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav-tabs class="nav-tabs-bar container-box">
        <a href="#profil" data-tab-id="profil">
            {{ icon('user') }}
            Editer
        </a>
        <a href="#courses" data-tab-id="courses">
            {{ icon('history') }}
            Historique
        </a>
        <a href="#badges" data-tab-id="badges">
            {{ icon('award') }}
            Badges
        </a>
    </nav-tabs>

    <div class="container-box pt-5 pb-10 stack-large bg-slate-50 dark:bg-primary-1000 grid grid-cols-1 gap-4">
        <div id="profil" class="col-span-full">
            <div class="grid grid-cols-8 gap-4">
                <div class="stack-large col-span-full lg:col-span-6">
                    {% if app.user.deletedAt %}
                        <div class="notification-info">
                            <h2 class="notification-heading">Attention !</h2>
                            <p>
                                Vous avez demandé un la suppression de votre compte. <br>
                                Votre compte sera supprimé {{ app.user.deletedAt|date_diff }}.
                            </p>
                        </div>
                    {% endif %}

                    {{ form_start(formProfile, {'attr': {'class': 'stack'}}) }}
                    <h3 class="h3">Mes informations</h3>

                    <div class="grid2">
                        {{ form_row(formProfile.fullname) }}
                    </div>

                    <div class="text-start">
                        <button type="submit" class="btn btn-primary">
                            {{ icon('save') }}
                            <span>Enregistrer</span>
                        </button>
                    </div>
                    {{ form_end(formProfile) }}


                    <div class="stack">
                        <h3 class="h3">Adresse email</h3>

                        {% if requestEmailChange and not requestEmailChange.createdAt|is_older_than_hours(1) %}
                            <div class="notification-info">
                                <h2 class="notification-heading">Attention !</h2>
                                <p>
                                    Vous avez demandé un changement d'adresse email.
                                    <br>
                                    Veuillez vérifier votre
                                    nouvelle boîte {{ requestEmailChange.email }} pour confirmer.
                                </p>
                            </div>
                        {% else %}
                            {{ form_start(formEmail, {'attr': {'class': 'stack'}}) }}
                            <div class="grid2">
                                <div class="text-muted">
                                    <p class="text-muted mb-2">
                                        Votre adresse email actuelle est <span class="font-semibold">{{ app.user.email }}</span>.
                                    </p>
                                    {{ form_row(formEmail.email) }}
                                </div>
                            </div>

                            <div class="text-start">
                                <button type="submit" class="btn btn-primary">
                                    {{ icon('mail') }}
                                    <span>Modifier mon adresse email</span>
                                </button>
                            </div>
                            {{ form_end(formEmail) }}
                        {% endif %}
                    </div>

                    {{ form_start(formPassword, {'attr': {'class': 'stack'}}) }}
                    <h3 class="h3">Mot de passe</h3>

                    <div class="grid2">
                        {{ form_row(formPassword.currentPassword) }}
                        {{ form_row(formPassword.newPassword) }}
                    </div>

                    <div class="text-start">
                        <button type="submit" class="btn btn-primary">
                            {{ icon('key') }}
                            <span>Modifier mon mot de passe</span>
                        </button>
                    </div>

                    {{ form_end(formPassword) }}


                    <div class="stack">
                        <h3 class="h3 text-danger-800 dark:text-danger-300">Supprimer mon compte</h3>

                        {% if app.user.deletedAt %}
                        <div class="notification-info">
                            <h2 class="notification-heading">Attention !</h2>
                            <p>
                                Vous avez demandé la suppression de votre compte. <br>
                                Il sera supprimé automatiquement {{ app.user.deletedAt|date_diff }}.
                            </p>
                        </div>
                        {% else %}
                            <p>Vous n'êtes pas satisfait de nos services ? Vous pouvez demander la suppression de votre compte.
                                Vous aurez 7 jours pour changer d'avis. Passé ce délai, votre compte sera supprimé définitivement.</p>
                        {% endif %}

                        {% if app.user.deletedAt %}
                            <div class="text-start">
                                <a href="{{ path('app_account_delete_cancel') }}" class="btn btn-success">
                                    {{ icon('archive-restore') }}
                                    <span>Restaurer mon compte</span>
                                </a>
                            </div>
                        {% else %}
                            <div class="text-start">
                                <button class="btn btn-danger" data-modal-id="deleteAccountModal">
                                    {{ icon('trash') }}
                                    <span>Demander la suppression</span>
                                </button>
                            </div>

                            <modal-dialog id="deleteAccountModal" hidden="hidden" overlay-close>
                                <section class="modal-box">
                                    <header>Confirmer la suppression</header>
                                    <button data-dismiss aria-label="Close" class="modal-close">
                                        {{ icon('x') }}
                                    </button>

                                    <div class="stack">
                                        <p class="text-muted">
                                            Vous êtes sur le point de supprimer votre compte. <br>
                                            Pour confirmer cette demande merci de rentrer votre mot de passe. Le compte sera
                                            automatiquement supprimé au bout de 7 jours.
                                        </p>

                                        {{ form_start(formDeleteAccount, {'attr': {'class': 'stack'}}) }}

                                        {{ form_row(formDeleteAccount.password) }}

                                        <div class="text-end">
                                            <button type="submit" class="btn btn-danger">
                                                {{ icon('trash') }}
                                                <span>Confirmer la suppression</span>
                                            </button>
                                        </div>
                                        {{ form_end(formDeleteAccount) }}
                                    </div>

                                </section>
                            </modal-dialog>
                        {% endif %}
                    </div>

                </div>
                <div class="stack-large col-span-full lg:col-span-2 mt-10 lg:mt-0">
                    <div>
                        <h3 class="h3">Mon abonnement</h3>
                        <p class="text-muted">Aucun abonnement en cours</p>
                    </div>

                    <div>
                        <h3 class="h3">Réseaux sociaux</h3>
                        <p class="text-muted">Reliez votre compte à un réseau social afin de l'utiliser comme mode de connexion</p>
                        <div class="stack mt-6">
                            <div>
                                <a href="{{ path(app.user.googleId ? 'app_oauth_unlink' : 'app_oauth_connect', {service: 'google'}) }}"
                                   class="btn btn-light">
                                    <svg class="social-icon">
                                        <use href="/icons/social.svg#google"></use>
                                    </svg>
                                    <span>{{ app.user.googleId ? 'Dissocier' : 'Lier' }} votre compte Google</span>
                                </a>
                            </div>
                            <div>
                                <a href="{{ path(app.user.githubId ? 'app_oauth_unlink' : 'app_oauth_connect', {service: 'github'}) }}"
                                   class="btn btn-light">
                                    <svg class="social-icon">
                                        <use href="/icons/social.svg#github"></use>
                                    </svg>
                                    <span>{{ app.user.githubId ? 'Dissocier' : 'Lier' }} votre compte GitHub</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="courses" class="col-span-full">
            <div class="stack">
                {% if watchlist is empty %}
                    <div class="flex flex-col justify-center items-start">
                        <h3 class="h3">Ton historique est vide</h3>
                        <p class="text-muted">Commence à regarder des vidéos pour les retrouver ici</p>
                        <a href="{{ path('app_course_index') }}" class="btn btn-primary mt-4">
                            {{ icon('play') }}
                            <span>Commencer à regarder</span>
                        </a>
                    </div>
                {% endif %}
                {% if watchlist is not empty %}
                <h3 class="h3">Historique de visionnage</h3>
                <section>
                    <div class="courses">
                        {% for progress in watchlist %}
                            {% include 'pages/public/account/_progress-card.html.twig' %}
                        {% endfor %}
                    </div>
                </section>
                {% endif %}
            </div>
        </div>

        <div id="badges" class="col-span-full">
            <div class="stack">
                <h3 class="h3">Mes badges</h3>
                <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
                    {% for badge in badges %}
                        <div class="flex flex-col items-center justify-stretch gap-2">
                            <div class="badge-icon badge-icon-{{ badge.theme }} {% if unlocks[badge.id] is not defined %}badge-locked{% endif %}">
                                {{ image(badge) }}
                            </div>
                            <div class="text-big bold text-center {% if unlocks[badge.id] is not defined %}text-muted{% endif %}">{{ badge.name }}</div>
                            <div class="text-muted text-center">{{ badge.description }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>




{% endblock %}
