{% extends 'layouts/public/base-auth.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block auth_body %}

    <div class="container-box">
        <div class="stack">
            <div class="text-left">
                <h1 class="text-3xl font-medium text-primary-900 reveal">
                    Mot de passe oublié ?
                </h1>
            </div>

            {{ include('partials/flash.html.twig') }}

            {{ form_start(form, {'attr': {'class': 'stack reveal', 'data-delay': '.2'}}) }}
            {{ form_row(form.email) }}

            <button type="submit"
                    class="btn btn-primary">
                Recevoir un lien de réinitialisation
            </button>

            <a href="{{ path('app_login') }}" class="text-center font-medium text-primary-600 dark:text-primary-500">Retour à la connexion</a>

            <div class="divider"></div>

            <p class="text-base font-light text-gray-500 dark:text-gray-400">
                Vous n'êtes pas encore membre ?
                <a href="{{ path('app_register') }}"
                   class="font-medium text-primary-600 dark:text-primary-500">
                    Créer un compte
                </a>
            </p>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
