{% extends 'layouts/public/base-auth.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block auth_body %}

    <div class="w-full flex flex-col items-center text-center">
        <h1 class="text-3xl sm:text-4xl font-medium text-primary-900 dark:text-white mb-2 reveal">
            Bienvenue 👋
        </h1>
        <p class="text-slate-600 dark:text-slate-300 max-w-sm text-base mb-6 reveal" data-delay=".2">
            Connecte-toi pour accéder à tout le contenu, suivre ta progression et débloquer des surprises 💡
        </p>
    </div>

    <div class="grid grid-cols-2 gap-3 reveal" data-delay=".2">
        <a href="{{ path('app_oauth_connect', {service: 'google', redirect: app.request.uri}) }}" class="btn btn-light w-full">
            <svg class="social-icon"><use href="/icons/social.svg#google"></use></svg>
            Google
        </a>

        <a href="{{ path('app_oauth_connect', {service: 'github', redirect: app.request.uri}) }}" class="btn btn-light w-full">
            <svg class="social-icon"><use href="/icons/social.svg#github"></use></svg>
            GitHub
        </a>
    </div>

    <div class="flex items-center space-x-2 reveal mt-3" data-delay=".2">
        <div class="flex-grow border-t border-slate-200 dark:border-slate-700"></div>
        <span class="text-slate-500 text-sm">ou</span>
        <div class="flex-grow border-t border-slate-200 dark:border-slate-700"></div>
    </div>

    <form method="post" class="w-full space-y-6 reveal" data-delay=".4" action="#">
        {% if error %}
            <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="space-y-2">
            <input type="email" name="email" id="email" value="{{ last_username }}" required class="form-input" placeholder="Adresse e-mail">
            <input type="password" name="password" id="password" required class="form-input" placeholder="Mot de passe" autocomplete="current-password">
        </div>

        <div class="flex justify-between text-sm text-slate-600 dark:text-slate-400">
            <a href="{{ path('app_forgot_password') }}" class="text-primary-600 hover:underline dark:text-primary-400">Mot de passe oublié ?</a>
        </div>

        <div class="flex flex-col gap-4">
            <button type="submit" class="btn btn-primary py-4 text-lg">
                Se connecter
            </button>

            <a href="{{ path('app_register') }}" class="btn btn-outline">
                Pas encore inscrit ? Créer un compte
            </a>
        </div>
    </form>

{% endblock %}
