{% extends 'layouts/public/base-auth.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block auth_body %}
    <div class="mb-4">
        <h1 class="text-2xl text-gray-600 font-bold leading-tight tracking-tight md:text-3xl dark:text-white mb-2 reveal">
            <span class="text-primary-900 dark:text-slate-100">Tu me rejoins ?</span>
        </h1>
        <p class="text-gray-400 dark:text-gray-400 reveal" data-delay=".2">
            Accède à tout le contenu en un clic.
        </p>
    </div>

    {{ form_start(registrationForm, {
        attr: {
            class: 'space-y-4 md:space-y-6 reveal',
            'data-delay': '.4'
        }
    }) }}

    <div class="mt-6 w-full flex gap-2 justify-between">
        <a href="{{ path('app_oauth_connect', {service: 'google'}) }}"
           class="btn btn-light w-full">
            <svg class="social-icon">
                <use href="/icons/social.svg#google"></use>
            </svg>
            <span>Google</span>
        </a>

        <a href="{{ path('app_oauth_connect', {service: 'github'}) }}"
           class="btn btn-light w-full">
            <svg class="social-icon">
                <use href="/icons/social.svg#github"></use>
            </svg>
            <span>GitHub</span>
        </a>
    </div>

    <!-- ou divider -->
    <div class="flex items-center space-x-2">
        <div class="flex-grow border-t border-slate-200 dark:border-slate-700"></div>
        <span class="px-1 text-slate-600 dark:text-slate-100">ou avec votre e-mail</span>
        <div class="flex-grow border-t border-slate-200 dark:border-slate-700"></div>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger">{{ flash_error }}</div>
    {% endfor %}

    {{ form_widget(registrationForm.fullname, {
        attr: {
            placeholder: 'Nom complet',
        }
    }) }}

    {{ form_widget(registrationForm.email, {
        attr: {
            placeholder: 'E-mail',
        }
    }) }}

    {{ form_widget(registrationForm.plainPassword, {
        attr: {
            placeholder: 'Saisir un mot de passe',
        }
    }) }}

    <div class="flex justify-between flex-col">
        <div class="flex items-start">
            <div class="flex items-center h-5">
                {{ form_widget(registrationForm.agreeTerms, {
                    'id': 'agreeTerms',
                    'attr': {
                        'class': 'form-checkbox'
                    }
                }) }}
            </div>
            <div class="ml-3 text-base">
                <label for="agreeTerms" class="text-slate-500 dark:text-slate-300">
                    J'accepte les <a href="{{ path('app_cgu') }}"
                                     class="link"
                                     target="_blank">conditions
                        d'utilisation</a>
                </label>
            </div>
        </div>
        <div class="form-error">
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
    </div>

    <div>
        {{ form_row(registrationForm.captcha) }}
    </div>

    <button type="submit"
            class="btn btn-primary w-full">
        Créer mon compte
    </button>
    <p class="text-base font-light text-gray-500">
        <span>Vous avez déjà un compte ?</span>
        <a href="{{ path('app_login') }}"
           class="font-medium text-primary-600 dark:text-primary-500">
            Connectez-vous
        </a>
    </p>
    {{ form_end(registrationForm) }}
{% endblock %}