<label for="{{ form.vars.id }}" class="switch-container">
    <input type="checkbox" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" class="switch-input peer"
           {% if checked %}checked{% endif %}/>
    <div class="switch-slider"></div>
    <div>
        <span class="switch-label">{{ label }}</span>
        <span class="">{{ form.vars.help }}</span>
    </div>
</label>
