{% if app.user and is_granted('ROLE_PREVIOUS_ADMIN') %}
    <a href="{{ impersonation_exit_path(path('admin_users_index')) }}" class="dropdown-menu-item">
        {{ icon('monitor-x', 20) }} <span>Revenir à mon compte</span>
    </a>
{% endif %}

<a href="{{ path('app_account_index') }}" class="dropdown-menu-item">
    {{ icon('user', 20) }} <span>Mon compte</span>
</a>

<a href="{{ path('app_account_subscription_invoices') }}" class="dropdown-menu-item">
    {{ icon('crown', 20) }} <span>Mon Abonnement</span>
</a>

<a href="{{ path('app_account_badges') }}" class="dropdown-menu-item">
    {{ icon('award', 20) }} <span>Mes succès</span>
</a>

<a href="{{ path('app_account_history') }}" class="dropdown-menu-item">
    {{ icon('history', 20) }} <span>Historique</span>
</a>

<button data-modal-id="helpModal" class="dropdown-menu-item">
    {{ icon('help-circle', 20) }} <span>Besoin d'aide ?</span>
</button>

<a href="{{ path('app_logout') }}" class="logout-button">
    {{ icon('log-out', 20) }}
    <span>Se déconnecter</span>
</a>