<nav class="header container-box" id="app-header">
    <!-- Bouton hamburger (visible sur mobile) -->
    <button id="header-hamburger" class="hamburger">
        <span class="sr-only">Ouvrir le menu</span>
        <span class="hamburger__icon">
                <span aria-hidden="true" class="hamburger__line"></span>
                <span aria-hidden="true" class="hamburger__line"></span>
                <span aria-hidden="true" class="hamburger__line"></span>
            </span>
    </button>
    <!-- Section gauche : Logo et navigation -->
    <div class="header__left">
        <!-- Logo -->
        <a href="{{ path('app_home') }}" {{ menu_active_aria('app_home') }} class="header__logo">
            <span class="text-xl font-hanken-grotesk font-medium text-slate-900 dark:text-white">lf<span class="text-primary-600 dark:text-primary-400">.com</span></span>
        </a>

        <!-- Navigation principale (visible sur desktop) -->
        <ul class="header__nav">
            <li>
                <a href="{{ path('app_course_index') }}" {{ menu_active_aria('app_course_') }} class="header__nav-link">
                    {{ icon('video') }}
                    <span>Vidéos</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_formation_index') }}" {{ menu_active_aria('app_formation_') }} class="header__nav-link">
                    {{ icon('gallery-vertical-end') }}
                    <span>Playlists</span>
                </a>
            </li>
        </ul>
    </div>

{#    <div class="header__search">#}
{#        <form action="" method="get" class="flex items-center relative">#}
{#            <input type="search" name="q" placeholder="Rechercher" class="rounded-l-full border border-gray-300 px-3 py-2 w-64">#}
{#            <button type="submit" class="absolute -right-[44px] top-0 bottom-0 px-3 py-2 border border-gray-300 bg-primary-200 text-slate-900 rounded-r-full">#}
{#                {{ icon('search') }}#}
{#            </button>#}
{#        </form>#}
{#    </div>#}

    <!-- Menu mobile -->
    <div id="mobile-menu">
        <div class="container-box mt-10">
            <div>
                {% if not app.user %}
                    <div class="flex gap-2 items-center w-full mb-5">
                        <a href="{{ path('app_register') }}" class="btn btn-primary w-full">
                            {{ icon('user-plus') }}
                            Inscription
                        </a>
                        <a href="{{ path('app_login') }}" class="btn btn-light w-full">
                            {{ icon('user') }}
                            Connexion
                        </a>
                    </div>
                {% endif %}

                <div>
                    <a href="{{ path('app_course_index') }}" {{ menu_active_aria('app_course_') }} class="mobile-menu__link">
                        {{ icon('video', 20) }}
                        <span>Vidéos</span>
                    </a>
                </div>
                <div>
                    <a href="{{ path('app_formation_index') }}" {{ menu_active_aria('app_formation_') }} class="mobile-menu__link">
                        {{ icon('gallery-vertical-end', 20) }}
                        <span>Playlists</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Section droite : Menu utilisateur -->
    <div class="header__right">
        <search-button class="mr-1"></search-button>
        <notifications-area class="mr-1"></notifications-area>

        {% if app.user %}
            <!-- Dropdown utilisateur -->
            <div class="relative">
                <button id="header-dropdown-button" class="header-dropdown flex items-center pr-0 lg:pr-4 gap-2 border border-slate-200 dark:border-slate-700 rounded-full text-md" aria-controls="dropdown-user" aria-expanded="false">
                    <img class="h-10 w-10 rounded-full object-cover border border-b-gray-400" src="{{ app.user|avatar }}" alt="{{ app.user.fullname }} avatar">
                    <span class="hidden lg:inline-flex">{{ app.user.fullname | truncate(15) }}</span>
                </button>
                <div id="header-dropdown-menu" class="absolute z-[4000] right-0 top-[35px] min-w-80 bg-white dark:bg-primary-950 dark:text-white
                 border border-slate-200 dark:border-slate-800 shadow-lg rounded-xl
                 flex flex-col justify-center items-start
                 scale-95 transform transition-all duration-100 ease-out
                 pointer-events-none p-4 mt-3 opacity-0 visible -translate-y-4
                ">
                    <div class="flex items-center justify-start gap-2 w-full pb-4 border-b border-slate-200 dark:border-slate-700">
                        <img class="h-10 w-10 rounded-full object-cover border border-b-gray-400" src="{{ app.user|avatar }}" alt="{{ app.user.fullname }} avatar">
                        <span class="ml-2 h4">{{ app.user.fullname }}</span>
                    </div>

                    <div class="w-full mb-3 border-b border-slate-200 dark:border-slate-700 py-4 grid grid-cols-2 gap-2">
                        <a href="{{ path('app_account_profile') }}#courses" class="flex flex-col items-center bg-slate-100 dark:bg-primary-1000 transition-colors duration-200 p-4 rounded-xl text-slate-900 dark:text-white font-medium hover:text-slate-900 hover:bg-slate-200">
                            {{ icon('history', 20) }}
                            <span>Historique</span>
                        </a>
                        <a href="{{ path('app_account_profile') }}#badges" class="flex flex-col items-center bg-slate-100 dark:bg-primary-1000 transition-colors duration-200 p-4 rounded-xl text-slate-900 dark:text-white font-medium hover:text-slate-900 hover:bg-slate-200">
                            {{ icon('award', 20) }}
                            <span>Badges</span>
                        </a>
                    </div>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="{{ path('admin_home') }}" class="w-full flex justify-start items-center gap-4 px-6 py-3 text-slate-900 hover:text-slate-900 dark:text-white hover:bg-slate-200 dark:hover:text-white dark:hover:bg-slate-700 rounded-full
                        font-medium">
                            {{ icon('shield', 20) }} <span>Administration</span>
                        </a>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    {% if is_granted('ROLE_AUTHOR') %}
                        <a href="{{ path('studio_home') }}" class="w-full flex justify-start items-center gap-4 px-6 py-3 text-slate-900 hover:text-slate-900 dark:text-white hover:bg-slate-200 dark:hover:text-white dark:hover:bg-slate-700 rounded-full
                        font-medium">
                            {{ icon('clapperboard', 20) }} <span>Studio</span>
                        </a>
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    {% if app.user and is_granted('ROLE_PREVIOUS_ADMIN') %}
                    {#  <a href="{{ path('admin_users_index', {'_switch_user': '_exit'}) }}" class="dropdown-menu-item"> #}
                        <a href="{{ impersonation_exit_path(path('admin_users_index')) }}" class="w-full flex justify-start items-center gap-4 px-6 py-3 text-slate-900 hover:text-slate-900 dark:text-white hover:bg-slate-200 dark:hover:text-white dark:hover:bg-slate-700 rounded-full
                            font-medium">
                            {{ icon('monitor-x') }} <span>Revenir à mon compte</span>
                        </a>
                    {% endif %}
                    <a href="{{ path('app_account_profile') }}" class="w-full flex justify-start items-center gap-4 px-6 py-3 text-slate-900 hover:text-slate-900 dark:text-white hover:bg-slate-200 dark:hover:text-white dark:hover:bg-slate-700 rounded-full
                            font-medium">
                        {{ icon('settings', 20) }} <span>Gérer le compte</span>
                    </a>
                    <a href="{{ path('app_logout') }}" class="w-full bg-gray-100 dark:bg- rounded-full text-red-600 font-medium mt-3 px-6 py-2.5
                            flex justify-center items-center gap-2 hover:cursor-pointer hover:bg-gray-200 hover:text-red-600
                            dark:bg-slate-700 dark:text-white dark:hover:text-white dark:hover:bg-slate-600 transition-colors duration-300">
                        {{ icon('log-out', 20) }}
                        <span>Déconnexion</span>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="header__auth">
                <a href="{{ path('app_login') }}" class="btn btn-primary ml-2">
                    {{ icon('user') }}
                    <span>Espace membre</span>
                </a>
            </div>
            <div class="inline-flex lg:hidden">
                <a href="{{ path('app_login') }}" class="rounded-full px-3 py-3 bg-primary-600 text-white font-medium hover:bg-primary-700 hover:text-white transition-colors duration-200
                    dark:bg-primary-600 dark:text-white dark:hover:bg-primary-700 dark:hover:text-white">
                    {{ icon('user') }}
                </a>
            </div>
        {% endif %}
    </div>
</nav>
