{{ form_start(form, {attr: {class: 'stacked'}}) }}

<div class="stack-large">

    <section class="stack">
        <h1 class="h3">
            Testez vos connaissances
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ form_row(form.title) }}
            {{ form_row(form.targetContent, {label: 'Contenu cible'}) }}
        </div>
        <div>
            {{ form_row(form.isPublished, {label: 'Publié'}) }}
        </div>

        {{ form_row(form.questions) }}
    </section>

    <div class="border-t border-gray-200 dark:border-gray-700 pt-4">
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
        {%if entity.id%}
            {% set targetEntity = entity.targetContent %}
            {% if targetEntity is defined and entity.isPublished %}
                {% if is_instance_of(targetEntity, 'App\\Domain\\Course\\Entity\\Course') %}
                    <a href="{{ path('app_course_show', {slug: targetEntity.slug}) }}" target="_blank" class="btn btn-light ml-2">Voir en ligne</a>
                {% elseif is_instance_of(targetEntity, 'App\\Domain\\Course\\Entityy\\Formation') %}
                    <a href="{{ path('app_formation_show', {slug: targetEntity.slug}) }}" target="_blank" class="btn btn-light ml-2">Voir en ligne</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>

</div>

{{ form_end(form) }}